@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 175px 1fr;
  grid-template-areas: "sidebar header" "sidebar main-content";
  transition: 0.25s ease-in-out;
}
.container .sidebar {
  display: flex;
  flex-direction: column;
  align-items: left;
  min-height: 100vh;
  padding: 30px 0 50px 30px;
  box-sizing: border-box;
  gap: 40px;
  width: 300px;
  background-color: rgb(80, 80, 255);
  color: white;
  grid-area: sidebar;
  transition: 0.5s ease-in-out;
  z-index: 3;
}
.container .sidebar .nav-btn {
  display: flex;
  position: absolute;
  left: 300px;
  top: 10px;
  justify-content: center;
  align-items: center;
  fill: white;
  width: 55px;
  height: 55px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  background-color: rgb(80, 80, 255);
  transition: 0.5s ease-in-out;
  transform: translateX(-55px);
  opacity: 0;
}
.container .sidebar .nav-btn svg {
  width: 40px;
  height: 40px;
  transition: 0.2s ease-in-out;
}
.container .sidebar .nav-btn svg:active {
  transform: scale(0.9);
}
.container .sidebar .nav-btn .hide {
  display: none;
}
.container .sidebar .logo {
  display: flex;
  align-items: center;
}
.container .sidebar .logo svg {
  fill: white;
}
.container .sidebar .logo span {
  padding-left: 10px;
  font-weight: 700;
  font-size: 1.5rem;
}
.container .sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.container .sidebar ul li {
  list-style: none;
  padding-bottom: 5px;
  background-image: linear-gradient(to right, white, white);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s ease-in-out;
}
.container .sidebar ul li:hover {
  background-size: 70% 2px;
}
.container .sidebar ul li a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 20px;
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}
.container .sidebar ul li a:hover {
  transform: translateX(5px);
}
.container .sidebar ul li a:active {
  transform: scale(0.95);
}
.container .sidebar ul li a svg {
  fill: white;
}
.container .header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  grid-area: header;
  z-index: 2;
}
.container .header .h-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  gap: 50px;
}
.container .header .h-top .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 50px;
  gap: 20px;
  box-sizing: border-box;
}
.container .header .h-top .left svg {
  width: 18px;
}
.container .header .h-top .left .search {
  width: 90%;
}
.container .header .h-top .left .search input {
  border: none;
  border-radius: 20px;
  height: 30px;
  width: 250px;
  background-color: rgb(230, 230, 230);
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}
.container .header .h-top .left .search input:focus {
  width: 100%;
  outline: none;
}
.container .header .h-top .right {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-right: 50px;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.container .header .h-top .right .notification {
  transition: 0.2s ease-in-out;
}
.container .header .h-top .right .notification svg {
  display: flex;
  justify-content: center;
  min-width: 24px;
  width: 24px;
}
.container .header .h-top .right .notification:hover {
  transform: scale(1.2);
}
.container .header .h-top .right .notification:active {
  transform: scale(1);
}
.container .header .h-top .right .user-avatar {
  height: 40px;
}
.container .header .h-top .right .user-avatar img {
  height: 100%;
  border-radius: 50%;
}
.container .header .h-top .right span {
  font-weight: 700;
}
.container .header .h-bottom {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 450px);
  gap: 50px;
}
.container .header .h-bottom .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-left: 50px;
  gap: 20px;
}
.container .header .h-bottom .left .user-avatar {
  height: 60px;
}
.container .header .h-bottom .left .user-avatar img {
  height: 100%;
  border-radius: 50%;
}
.container .header .h-bottom .left .hello {
  display: flex;
  flex-direction: column;
}
.container .header .h-bottom .left .hello span:nth-child(1) {
  font-size: 0.9rem;
  font-weight: 500;
}
.container .header .h-bottom .left .hello span:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 700;
}
.container .header .h-bottom .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-right: 50px;
  gap: 30px;
}
.container .header .h-bottom .right .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 40px;
  font-weight: 500;
  width: 100%;
  padding: 0 10px 0 10px;
  border-radius: 20px;
  background-color: rgb(80, 80, 255);
  color: white;
  transition: 0.2s ease-in-out;
}
.container .header .h-bottom .right .btn:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.container .header .h-bottom .right .btn:active {
  transform: scale(1);
  box-shadow: none;
}
.container .main-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(232, 232, 232);
  grid-area: main-content;
  z-index: 1;
}
.container .main-content .content-left .projects {
  grid-area: projects;
}
.container .main-content .content-left .projects .projects-header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  font-weight: 500;
  font-size: 1.2rem;
}
.container .main-content .content-left .projects .projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.container .main-content .content-left .projects .projects-grid .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  box-sizing: border-box;
  padding: 40px 40px 20px 40px;
  border-left: 7px solid rgb(255, 156, 69);
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  background-color: white;
  border-radius: 7px;
}
.container .main-content .content-left .projects .projects-grid .box svg {
  width: 20px;
}
.container .main-content .content-left .projects .projects-grid .box .box-content p:nth-child(1) {
  font-weight: 600;
}
.container .main-content .content-left .projects .projects-grid .box .box-content p:nth-child(2) {
  font-size: 0.8rem;
  color: rgb(119, 119, 119);
}
.container .main-content .content-left .projects .projects-grid .box .buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.container .main-content .content-left .projects .projects-grid .box .buttons a {
  transition: 0.2s ease-in-out;
}
.container .main-content .content-left .projects .projects-grid .box .buttons a svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  fill: rgb(41, 41, 41);
}
.container .main-content .content-left .projects .projects-grid .box .buttons a:nth-child(1) {
  height: 20px;
}
.container .main-content .content-left .projects .projects-grid .box .buttons a:nth-child(3) {
  height: 15px;
}
.container .main-content .content-left .projects .projects-grid .box .buttons a:hover {
  transform: scale(1.2);
}
.container .main-content .content-left .projects .projects-grid .box .buttons a:active {
  transform: scale(1);
}
.container .main-content .content-right {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
}
.container .main-content .content-right .announcements {
  grid-area: announcements;
}
.container .main-content .content-right .announcements .a-header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  font-weight: 500;
  font-size: 1.2rem;
}
.container .main-content .content-right .announcements .a-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  box-sizing: border-box;
  padding: 40px 40px 40px 40px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  background-color: white;
  border-radius: 7px;
}
.container .main-content .content-right .announcements .a-content hr {
  background-color: rgb(199, 199, 199);
  height: 1px;
  border: none;
}
.container .main-content .content-right .announcements .a-content .box p:nth-child(1) {
  font-weight: 600;
  font-size: 0.85rem;
}
.container .main-content .content-right .announcements .a-content .box p:nth-child(2) {
  font-size: 0.7rem;
}
.container .main-content .content-right .trending {
  grid-area: trending;
}
.container .main-content .content-right .trending .t-header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  font-weight: 500;
  font-size: 1.2rem;
}
.container .main-content .content-right .trending .t-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  box-sizing: border-box;
  padding: 40px 40px 40px 40px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  background-color: white;
  border-radius: 7px;
}
.container .main-content .content-right .trending .t-content .app {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.container .main-content .content-right .trending .t-content .app .avatar {
  height: 40px;
}
.container .main-content .content-right .trending .t-content .app .avatar img {
  height: 100%;
  border-radius: 50%;
}
.container .main-content .content-right .trending .t-content .app .info p:nth-child(1) {
  font-weight: 500;
  font-size: 0.9rem;
}
.container .main-content .content-right .trending .t-content .app .info p:nth-child(2) {
  font-size: 0.8rem;
  color: rgb(119, 119, 119);
}

.headerLink {
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.2s ease-in-out;
}
.headerLink:hover {
  color: rgb(80, 80, 80);
  transform: translateX(5px);
}
.headerLink:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 960px) {
  .container {
    grid-template-columns: 0px 1fr;
  }
  .container .sidebar {
    transform: translateX(-300px);
  }
  .container .header .h-top .nav-btn {
    display: flex;
    margin-right: 20px;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .container .header .h-top .nav-btn:hover {
    transform: scale(1.1);
  }
  .container .header .h-top .nav-btn:active {
    transform: scale(1);
  }
  .container .header .h-top .nav-btn svg {
    transform: scale(2);
  }
  .nav-btn {
    transform: translateX(0px) !important;
    opacity: 1 !important;
  }
  .nav-unhide {
    transform: translateX(0px) !important;
  }
}
@media only screen and (max-width: 660px) {
  .container {
    grid-template-rows: 300px 1fr;
  }
  .container .header .h-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
  }
  .container .header .h-top .left {
    align-items: center;
    padding: 10px;
    width: auto;
  }
  .container .header .h-top .left .search {
    width: auto;
  }
  .container .header .h-top .left .search input {
    width: auto;
  }
  .container .header .h-top .left .search input:focus {
    width: auto;
  }
  .container .header .h-top .right {
    align-items: center;
    padding: 10px;
    width: auto;
  }
  .container .header .h-top .right {
    padding-right: 0px;
  }
  .container .main-content {
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=main.css.map */